
</div>
<div class="footer-padding"></div>
  <footer class="footer">
    <p>Copyright © <script>document.write(new Date().getFullYear())</script> <a class="footer-link" href="https://github.com/hburakustundag" target="_blank">hburakustundag</a></p>
  </footer>
</div>
<script src="../../public/js/main.js"></script>
</body>
</html>
