</div>
<section id="footer">
  <footer class="footer">
    <p>Copyright ©
      <script>document.write(new Date().getFullYear())</script> <a class="footer-link"
        href="https://github.com/hburakustundag" target="_blank"> <i
          class="fa-brands fa-github github-icon"></i>hburakustundag</a>
    </p>
  </footer>
</section>
<script src="/js/main.js"></script>
</body>

</html>