<%- include('partials/header'); -%>

<h1>Welcome to Cloudy Blog!</h1> 

<p>A place where you can express your deepest feelings and your most crazy adventures.</p>

<p>See and write some <a href="/blogs">blogs.</a></p>

<%- include('partials/footer'); -%>
