<%- include('partials/header'); -%>

<h1>Welcome to Cloudy Blog!</h1> 

<p>A place where you can express your deepest feelings and your most crazy adventures.</p>

<div>
<% for (let i = 0; i < blogs.length; i++) {%>
<ul class="blog-list">
    <li><%= blogs[i].blog %></li>
    <button class="btn delete-button"><i class="fa-solid fa-trash"></i></button>
</ul>
<% } %>
</div>
<p>Add a blog post:</p>
<form action="/blogs" method="post" id="blogForm" class="form-control d-flex flex-column mb-5">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" class="mb-2">
    <label for="blogPost">Blog Post: </label>
    <textarea name="blogPost" cols="40" rows="3" form="blogForm" id="blogPost"></textarea>
    <button type="submit" class="btn add-blog-button">
        <i class="fa-solid fa-plus plus-button"></i>
    </button>
</form>


<%- include('partials/footer'); -%>
