<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cloudy Blog</title>
  <meta charset="utf-8">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="icon" href="images/favicon.ico?">
</head>
  <body>
    <header>
      <nav class="navbar navbar-nav">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">CLOUDY BLOG</a>
          </div>
            <ul class="nav flex-lg-row">
              <li id="signup" class="nav-item"><a class="nav-link" href="/signup">SIGN UP</a></li>
              <li id="login"><a class="nav-link" href="/login">LOGIN</a></li>
            </ul>
        </div>
      </nav>
    </header>
    <div class="body-container">

<% if (locals.messages.errors) { %>
  <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
  <% }) %>    
<% } %>
<% if (locals.messages.info) { %>
  <% messages.info.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
  <% }) %>    
<% } %>
<section class="login text-center">
    <form class="form-signin" action="/login" method="POST">
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
        <button type="button" class="btn btn-floating mx-1">
          <i class="fa-brands fa-google"></i>
        </button>

        <button type="button" class="btn btn-floating mx-1">
          <i class="fa-brands fa-facebook"></i>
        </button>
      </div>
      <div>OR</div>
      <img src="images/cloudicon.png" alt="a cloud icon" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password"  placeholder="Password" required>
      <button class="btn btn-lg btn-block login-btn" type="submit">Login</button>
    </form>
  </section>

  <%- include('partials/footer'); -%>