<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Cloudy Blog</title>
    <meta charset="utf-8" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/blogs.css" />
    <link rel="icon" href="images/favicon.ico?" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-nav">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">CLOUDY BLOG</a>
          </div>
          <ul class="nav flex-lg-row">
            <li id="signup" class="nav-item">
              <a class="nav-link" href="/signup">SIGN UP</a>
            </li>
            <% if (user) { %>
            <li id="logout"><a class="nav-link" href="/logout">LOGOUT</a></li>
            <li id="logout"><a class="nav-link" href="/blogs/new" title="Create a new blog">+</a></li>
            <% } else { %>
            <li id="login"><a class="nav-link" href="/login">LOGIN</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="body-container">
      <p>Add a blog post:</p>
      <form
        action="/blogs"
        method="post"
        id="blogForm"
        class="form-control d-flex flex-column mb-5"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input
            type="file"
            class="form-control"
            id="imageUpload"
            name="file"
          />
        </div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="mb-2" />
        <label for="blogPost">Blog Post: </label>
        <textarea
          name="blog"
          cols="40"
          rows="5"
          form="blogForm"
          id="blogPost"
        ></textarea>
        <button type="submit" class="btn add-blog-button">
          <i class="fa-solid fa-plus plus-button"></i>
        </button>
      </form>
    </div>

<%- include('partials/footer'); -%>