h1 {
  font-family: "Rubik Distressed", cursive;
}

.featured-blogs {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(0, 15, 28);
}
a,
a:hover {
  text-decoration: none;
  color: black;
}

.body-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.upper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(234, 252, 255);
  margin-bottom: 20px;
  padding-right: 4.5%;
  padding-left: 4.5%;
  height: 200px;
}

.mid-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  border: 3px solid;
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.blog-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 1rem;
}
