.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  background-color: rgb(241, 241, 241);
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.nav-link {
  color: rgb(171, 161, 161);
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.button-login,
.button-register {
  color: aliceblue;
  background-color: #1abc9c;
}
.button-login:hover,
.button-register:hover {
  color: aliceblue;
  background-color: rgb(10, 12, 68);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  background-color: #74acf5;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: rgb(239, 244, 210);
}
.footer-link {
  color: rgb(202, 185, 185);
}
